<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Story News | Metabook</title>
    <th:block th:replace="fragments/common :: head-source"></th:block>

</head>

<body class="bg-content">
<div class="container-fluid h-100vh">
    <div class="row h-100">
        <div class="col-3 bg-white shadow">
            <div class="story-menu d-flex flex-column">
                <div class="d-flex align-items-center mt-2">
                    <a class="header-close bg-dark  text-white rounded-circle mr-2" th:href="@{/}"><i
                            class="fa-solid fa-xmark"></i></a>
                    <a th:href="@{/}"> <img alt="" class="w-50px h-50px img-cover rounded-circle"
                                            th:src="@{${user.avatarPath}}"></a>
                </div>
                <hr class="story-menu-line">

                <h4 class="fs-4 font-weight-bold mt-3">Your News</h4>
                <a class="d-flex align-items-center text-decoration-none" th:href="@{/story/create}">
                    <i class="fa-solid fa-plus bg-grey text-primary p-3 rounded-circle fs-4"></i>
                    <div class="d-flex flex-column ml-2">
                        <div class="fs-4 font-weight-bold text-dark">Create story</div>
                        <div class="fs-2 text-muted">Your can share image and write something.</div>
                    </div>
                </a>

                <h4 class="fs-4 font-weight-bold mt-4">News All</h4>
                <th:block th:each="story,stat : ${stories}">
                    <button class="d-flex align-items-center mt-3 btn-focus bg-transparent border-0"
                            th:onclick="'showArrows('+${stat.index + 1}+')'">
                        <img alt=""
                             class="story-news-avatar rounded-circle border-primary w-50px h-50px img-cover"
                             th:src="@{${story.user.avatarPath}}">
                        <div class="d-flex flex-column align-items-start ml-2">
                            <div class="fs-4 font-weight-bold" th:utext="${story.getUser().getFullName()}"></div>
                            <div class="fs-2 text-muted" th:utext="${story.getCurrentDate()}"></div>
                        </div>
                    </button>
                </th:block>
            </div>
        </div>
        <div class="col-9 bg-dark">
            <div class="d-flex flex-column w-100 mt-2">
                <div class="d-flex justify-content-end align-items-center">
                    <a class="navbar-rigth-item">
                        <i class="fa-brands fa-facebook-messenger"></i>
                    </a>
                    <a class="navbar-rigth-item">
                        <i aria-hidden="true" class="fa fa-bell"></i>
                        <div class="bell-report">10+</div>
                    </a>
                    <div class="dropdown">
                        <img alt="" aria-expanded="false" aria-haspopup="true"
                             class="dropdown-toggle w-40px h-40px img-cover rounded-circle"
                             data-toggle="dropdown" id="dropdownMenuButton" th:src="@{${user.avatarPath}}"
                        >
                        <div aria-labelledby="dropdownMenuButton"
                             class="dropdown-menu dropdown-menu-right mt-2 shadow-sm">
                            <a class="dropdown-item" data-target="#userProfileModal" data-toggle="modal" href="#!"
                               id="btn-my-account">
                                <i aria-hidden="true" class="fa fa-user mr-1 bg-grey p-2 rounded-circle"></i>
                                My account
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa-solid fa-gear mr-1"></i>
                                Settings
                            </a>
                            <a class="dropdown-item " href="#">
                                <i class="fa-solid fa-right-from-bracket mr-1"></i>
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="story-news-body">
                        <th:block th:each="story, stat : ${stories}">
                            <div class="news-item">
                                <div class="story-news-content" th:id="'story-news-'+${stat.index + 1}">
                                    <img alt=""
                                         class="story-news-content__img"
                                         th:src="@{${story.getImagePath()}}">
                                    <div class="d-flex align-items-center story-news-header p-2">
                                        <img class="story-news-content_avatar  w-40px h-40px img-cover rounded-circle"
                                             th:src="@{${story.user.avatarPath}}"
                                        >
                                        <div class="fs-3 font-weight-bold text-light ml-2"
                                             th:utext="${story.getUser().getFullName()}"></div>
                                        <div class="fs-1 text-light ml-2" th:utext="${story.getCurrentDate()}"></div>
                                        <i class="fa-solid fa-ellipsis ml-auto text-light fs-6"></i>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <!-- Next and previous buttons -->
                        <a class="prev news-prev" onclick="plusStoryNews(-1)">&#10094;</a>
                        <a class="next news-next" onclick="plusStoryNews(1)">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<th:block th:replace="fragments/common :: modal-user"></th:block>
<th:block th:replace="fragments/common :: js-source"></th:block>
<script src="../../static/web/assets/js/story.js" th:src="@{/web/assets/js/story.js}"></script>
</body>

</html>