<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Story | Metabook</title>
    <th:block th:replace="fragments/common :: head-source"></th:block>

</head>

<body class="bg-content">
<div class="container-fluid h-100vh">
    <div class="row h-100">
        <div class="col-3 bg-white shadow">
            <div class="story-menu d-flex flex-column">
                <a class="d-flex align-items-center mt-2" th:href="@{/}">
                        <span class="header-close bg-dark  text-white rounded-circle mr-2"><i
                                class="fa-solid fa-xmark"></i></span>
                    <img alt="" th:src="@{/web/image/metabook.png}" width="42">
                </a>
                <hr class="story-menu-line shadow-line-down">
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <h4 class="font-weight-bold">My story</h4>
                    <i class="fa-solid fa-gear bg-grey-1 p-2 fs-6 rounded-circle"></i>
                </div>
                <div class="d-flex align-items-center">
                    <img alt="" th:src="@{/web/image/avatar_batman.png}" width="60">
                    <span class="fs-4 font-weight-bold ml-2">Võ Lâm</span>
                </div>
                <hr class="story-menu-line mt-3">

                <div class="story-footer bg-white d-none">
                    <hr class="story-footer-line m-0 shadow-line-up">
                    <div class="d-flex justify-content-around align-items-center mt-2 mb-2">
                        <button class="btn btn-dark pl-5 pr-5" id="deny-story">Deny</button>
                        <button class="btn btn-primary pl-4 pr-4" id="share-story">Share story</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex flex-column w-100 mt-2">
                <div class="d-flex justify-content-end align-items-center">
                    <a class="navbar-rigth-item">
                        <i class="fa-brands fa-facebook-messenger"></i>
                    </a>
                    <a class="navbar-rigth-item">
                        <i aria-hidden="true" class="fa fa-bell"></i>
                        <div class="bell-report">10+</div>
                    </a>
                    <div class="dropdown">
                        <img alt="" aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
                             data-toggle="dropdown" id="dropdownMenuButton" th:src="@{/web/image/avatar_batman.png}"
                             width="40">
                        <div aria-labelledby="dropdownMenuButton"
                             class="dropdown-menu dropdown-menu-right mt-2 shadow-sm">
                            <a class="dropdown-item" href="#">
                                <i aria-hidden="true" class="fa fa-user mr-1"></i>
                                My account
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa-solid fa-gear mr-1"></i>
                                Settings
                            </a>
                            <a class="dropdown-item " href="#">
                                <i class="fa-solid fa-right-from-bracket mr-1"></i>
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-3 pl-4 pr-4 w-100 mt-4 bg-white border-grey-1 rounded d-none" id="view-story">
                    <h6 class="m-0 pb-2">View story</h6>
                    <div class="d-flex justify-content-center w-100 bg-dark border-grey-1 rounded">
                        <div class="story-card-design-body m-3">
                            <div class="story-image">
                                <img alt="" class="story-image_img" id="story-image_img" src="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="story-box-main">
                    <div class="d-flex justify-content-center align-content-center">
                        <div class="story-box rounded d-flex justify-content-center align-items-center bg-meta mr-4"
                             id="btn-story-image"
                             style="background-image: radial-gradient(#0077ff, #502ee5);">
                            <div class="d-flex flex-column">
                                <div class="text-center">
                                    <i class="fa-regular fa-image p-3 rounded-circle bg-white"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-3 font-weight-bold text-white mt-2">Tạo tin ảnh</span>
                                </div>
                                <div class="text-center">
                                    <input hidden id="upload-image-story" type="file">
                                </div>
                            </div>
                            <label class="story-box-label rounded" for="upload-image-story"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<th:block th:replace="fragments/common :: js-source"></th:block>

<!--Drag JS  -->
<!--<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>-->
<!-- Custom Javascript -->
<script src="../../static/web/assets/js/story.js" th:src="@{/web/assets/js/story.js}"></script>
</body>

</html>