<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head-source">
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <link href="/web/image/favicon.ico" rel="icon" type="image/x-icon">
        <!-- Bootstrap CSS -->
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
        <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
              integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
              referrerpolicy="no-referrer" rel="stylesheet"/>
        <!-- CSS Style -->
        <link href="../static/web/assets/css/style.css" rel="stylesheet" th:href="@{/web/assets/css/style.css}"/>
        <link href="../static/web/assets/dist/jquery.toast.min.css" rel="stylesheet"
              th:href="@{/web/assets/dist/jquery.toast.min.css}"/>
    </th:block>
</head>
<body>

<th:block th:fragment="modal-user">
    <!--  User profile Modal  -->
    <div aria-hidden="true" aria-labelledby="userProfileModalLabel" class="modal fade" id="userProfileModal"
         style="background-color: rgb(255 255 255 / 60%); " tabindex="-1">
        <div class="modal-dialog" style="width: 400px; margin-top: 10px; margin-bottom: 10px;">
            <div class="modal-content" id="modal-account-information">
            </div>
        </div>
    </div>

    <!--  Change password Modal  -->
    <div aria-hidden="true" aria-labelledby="changePasswordModal" class="modal fade" id="changePasswordModal"
         style="background-color: rgb(255 255 255 / 60%); " tabindex="-1">
        <div class="modal-dialog" style="width: 800px; margin-top: 10px; margin-bottom: 10px;">
            <div class="modal-content">
                <div class="modal-header bg-meta text-white">
                    <h5 class="font-weight-bold">Change Password</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="form-group">
                        <label class="fs-3 font-weight-bold" for="oldPassword">Old password <b
                                class="text-danger">*</b></label>
                        <input aria-describedby="helpId" class="form-control" id="oldPassword" name="oldPassword"
                               placeholder="Enter old password" type="password">
                        <small class="form-text text-danger fs-2" id="oldPasswordId"></small>
                    </div>

                    <div class="form-group mt-2">
                        <label class="fs-3 font-weight-bold" for="newPassword">New Password <b
                                class="text-danger">*</b></label>
                        <input aria-describedby="newPasswordId" class="form-control" id="newPassword"
                               name="newPassword"
                               placeholder="Enter New Password" type="password">
                        <small class="form-text text-danger fs-2" id="newPasswordId"></small>
                    </div>
                    <div class="form-group mt-2">
                        <label class="fs-3 font-weight-bold " for="reNewPassword">Repeat new password <b
                                class="text-danger">*</b></label>
                        <input aria-describedby="reNewPasswordId" class="form-control" id="reNewPassword"
                               name="reNewPassword"
                               placeholder="Enter repeat new password" type="password">
                        <small class="form-text text-danger fs-2" id="reNewPasswordId"></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="" id="edit-account-btn">
                        <button aria-label="Close" class="btn btn-secondary" data-dismiss="modal" type="button">Cancel
                        </button>
                        <button class="btn btn-primary ml-2" onclick="saveChangePassword()" type="button">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- Optional JavaScript -->
<th:block th:fragment="js-source">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script crossorigin="anonymous"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <!-- Custom Javascript -->
    <script src="../static/web/assets/dist/jquery.toast.min.js"
            th:src="@{/web/assets/dist/jquery.toast.min.js}"></script>
    <script src="../static/web/assets/js/home.js" th:src="@{/web/assets/js/home.js}"></script>

</th:block>
</body>
</html>